@font-face {
  font-family: 'robotoregular';
  src: url('roboto-regular-webfont.woff2') format('woff2'),
       url('roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fugaz_oneregular';
  src: url('fugazone-regular-webfont.woff2') format('woff2'),
       url('fugazone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	font-family:'robotoregular', sans-serif;
}

h1{
	font-family: 'fugaz_oneregular', sans-serif;
	font-weight: lighter;
	color: white;
	padding-left: 40px;
}

#container{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 0.9fr 4fr;
	height: 100vh;
}

#header{
	background-color: #f9f8f8;
	box-shadow: 0 10px 10px -10px #cfbdd6;
	z-index: 10;
}

#sidebar{
	background-color: #aa6da3;
	grid-row: 1 / 3;
	display: grid;
	grid-template-rows: 0.5fr 3fr 4fr;
	
}

#content{
	background-color: #ece2f0;
}

li{
	list-style: none;
	color: white;
	padding-bottom: 20px;
	font-weight: bold;
}

a{
	text-decoration: none;
}

img{
	vertical-align: middle;
  display: inline-block;
	padding-right: 20px;
	padding-bottom: 4px;
	height: 20px;
	filter: invert(100%) sepia(80%) saturate(2%) hue-rotate(290deg) brightness(111%) contrast(101%);
}